/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}
.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
.header-link {
  padding: 4px 16px;
  margin: 0px 2px;
}
.header-link:last-of-type {
  margin-right: 18px;
}

/* GitHub Icon */
.header-github-link:hover {
  opacity: 0.6;
}
.header-github-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}
html[data-theme="dark"] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

/* NPM Icon */
.header-npm-link:hover {
  opacity: 0.6;
}
.header-npm-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg id='n' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23c12127;%7D.cls-2%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3En%3C/title%3E%3Cpath class='cls-1' d='M0,16V0H16V16ZM3,3V13H8V5h3v8h2V3Z'/%3E%3Cpath class='cls-2' d='M3,3H13V13H11V5H8v8H3Z'/%3E%3C/svg%3E%0A")
    no-repeat;
}

/* Dynobase Sponsor Banner CSS */

/* External Link Icon */
#__docusaurus
  div.main-wrapper
  div
  aside
  div
  nav.menu
  ul.theme-doc-sidebar-menu.menu__list >
  li:last-child
  ul
  li
  a
  svg,
#__docusaurus
  nav
  div.navbar-sidebar
  div.navbar-sidebar__items.navbar-sidebar__items--show-secondary
  ul.theme-doc-sidebar-menu.menu__list >
  li:last-child
  ul
  li
  a
  svg {
  display: none;
}

/* Sponsored By Header */
#__docusaurus
  div.main-wrapper
  div
  aside
  div
  nav.menu
  ul.theme-doc-sidebar-menu.menu__list >
  li:last-child
  div.menu__list-item-collapsible
  a,
#__docusaurus
  nav
  div.navbar-sidebar
  div.navbar-sidebar__items.navbar-sidebar__items--show-secondary
  ul.theme-doc-sidebar-menu.menu__list >
  li:last-child
  div.menu__list-item-collapsible
  a {
  display: none;
}

/* Set background image */
#__docusaurus
  div.main-wrapper
  div
  aside
  div
  nav.menu
  ul.theme-doc-sidebar-menu.menu__list >
  li:last-child
  ul
  li
  a,
#__docusaurus
  nav
  div.navbar-sidebar
  div.navbar-sidebar__items.navbar-sidebar__items--show-secondary
  ul.theme-doc-sidebar-menu.menu__list >
  li:last-child
  ul
  li
  a {
  background-image: url("/img/dynobase-banner.png");
  height: 162px;
  width: 244px;
  margin-top: 22px;
}
