body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Avenir Next;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

#header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #38458a, #6a74a1)
}

#header #logo {
    padding: 0 50px;
    font-size: 19px;
    font-weight: bold;
    color: white;
    margin: auto 0;
}

#header #nav {
    list-style: none;
    margin: auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#header #nav li a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

#section-title {
    font-weight: bold;
    font-size: 35px;
    color: #2d3436;
    padding: 30px 50px 5px 50px;
}

#section-subtitle {
    padding: 5px 50px 10px 50px;
    font-size: 20px;
    color: #8395a7;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

#gist-title {
    padding: 20px 0 5px 50px;
    font-size: 22px;
    color: #38458a;
    font-weight: bold;
}

#gist-desc {
    font-size: 16px;
    color: #8395a7;
    padding: 5px 50px;
}

.gist {
    width: 90% !important;
    height: auto;
    background-color: #f9fbfc;
    margin: 10px auto;
    /* text-align: center; */
}

/* ------------------------------------------------------------------------------------------------------------------------ */

#footer {
    width: 100%;
    height: 80px;
    background-color: #c8d6e5;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer a {
    font-size: 30px;
    color: #8395a7;
    margin: auto 0;
    padding: 0 50px;
    cursor: pointer;
}

#footer p {
    font-weight: 500;
    font-size: 17px;
    color: white;
    margin: auto 0;
    padding: 0 50px;
}

#footer p i {
    color: #ff6b6b;
}

#footer p span {
    font-weight: 600;
    color: #10ac84;
}