name: CI
on:
  push:
  pull_request:
    types: [opened, synchronize]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            packages/dynamoose/package-lock.json
            packages/dynamoose-logger/package-lock.json
            packages/dynamoose-utils/package-lock.json
      - run: npm ci
      - run: npm run lint
  test-types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            packages/dynamoose/package-lock.json
            packages/dynamoose-logger/package-lock.json
            packages/dynamoose-utils/package-lock.json
      - run: npm ci
      - run: npm run test:types
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [
          16.x,
          17.x,
          18.x,
          19.x,
          20.x,
          21.x,
          22.x,
          23.x
        ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            packages/dynamoose/package-lock.json
            packages/dynamoose-logger/package-lock.json
            packages/dynamoose-utils/package-lock.json
      - run: npm ci
      - run: npm run build:sourcemap
      - name: Setup DynamoDB Local
        uses: rrainn/dynamodb-action@v2.0.0
      - name: Create coverage folder
        run: mkdir -p ./coverage
      - run: npm test
      - name: Coveralls
        uses: coverallsapp/github-action@1.1.3
        continue-on-error: true
        with:
          base-path: packages/dynamoose
          path-to-lcov: ./packages/dynamoose/coverage/lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
  finalize:
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@1.1.3
        continue-on-error: true
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
